:root {
  color-scheme: light dark;

  --background-primary-light: #f0f0f0;
  --text-light: #1e1e1e;

  --background-primary-dark: #1e1e1e;
  --text-dark: #f0f0f0;

  --background-primary-persian: #efe7da;
  --text-persian: #6e0509;
}

[data-theme="light"] body {
  background-color: var(--background-primary-light);
  color: var(--text-light);

  header {
    a::after {
      background-color: var(--text-light);
    }
  }
}

[data-theme="dark"] body {
  background-color: var(--background-primary-dark);
  color: var(--text-dark);

  header {
    a::after {
      background-color: var(--text-dark);
    }
  }
}

[data-theme="persian"] body {
  background-color: var(--background-primary-persian);
  color: var(--text-persian);

  header {
    a::after {
      background-color: var(--text-persian);
    }
  }
}

/* arabic */
@font-face {
  font-family: "Gulzar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gulzar/v12/Wnz6HAc9eB3HB2I7YzYYiAzcPDKo.woff2) format("woff2");
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF,
    U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24,
    U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57,
    U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89,
    U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* latin-ext */
@font-face {
  font-family: "Gulzar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gulzar/v12/Wnz6HAc9eB3HB2I7aDYYiAzcPDKo.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Gulzar";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gulzar/v12/Wnz6HAc9eB3HB2I7ZjYYiAzcPA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@view-transition {
  navigation: auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: light-dark(var(--background-primary-light), var(--background-primary-dark));
  color: light-dark(var(--text-light), var(--text-dark));
  font-family: "Gulzar", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

header {
  height: 10vh;
  z-index: 10;

  nav {
    height: 100%;
  }

  ul {
    height: 100%;
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    position: relative;
    overflow: hidden;
  }

  a {
    position: relative;
    display: inline-block;
    padding: 5px 0;
    color: inherit;
    text-decoration: none;
  }

  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: light-dark(var(--text-light), var(--text-dark));
    transition: all 0.4s ease;
  }

  a:hover::after {
    width: 100%;
  }
}

.themeswitcher {
  position: relative;
}

#theme-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.theme-menu {
  display: none;
  position: absolute;
  background: light-dark(var(--text-light), var(--text-dark));
  color: light-dark(var(--background-primary-light), var(--background-primary-dark));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 10px;
  top: 110%;
  right: 50%;
  transform: translateX(50%);
  z-index: 1000;
  min-width: 180px;
  transition: all 0.3s ease;
  height: max-content;

  li {
    padding: 1em;
  }
}

[data-theme="light"] .theme-menu {
  background: var(--text-light);
  color: var(--background-primary-light);
}

[data-theme="dark"] .theme-menu {
  background: var(--text-dark);
  color: var(--background-primary-dark);
}

[data-theme="persian"] .theme-menu {
  background: var(--text-persian);
  color: var(--background-primary-persian);
}

.theme-menu.show {
  display: block;
}

.theme-menu button {
  display: block;
  width: 100%;
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-family: "Gulzar", sans-serif;
  color: inherit;
  font-size: 14px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.theme-menu button[data-theme="light"]:hover,
.theme-menu button[data-theme="light"]:focus {
  background-color: var(--text-light);
  color: var(--background-primary-light);
}

.theme-menu button[data-theme="dark"]:hover,
.theme-menu button[data-theme="dark"]:focus {
  background-color: var(--text-dark);
  color: var(--background-primary-dark);
}

.theme-menu button[data-theme="persian"]:hover,
.theme-menu button[data-theme="persian"]:focus {
  background-color: var(--text-persian);
  color: var(--background-primary-persian);
}

.theme-menu button[data-theme="automatic"]:hover,
.theme-menu button[data-theme="automatic"]:focus {
  background-color: light-dark(var(--text-light), var(--text-dark));
  color: light-dark(var(--background-primary-light), var(--background-primary-dark));
}

.theme-menu button[data-theme="automatic"].active {
  color: light-dark(var(--text-light), var(--text-dark));
  background-color: light-dark(var(--background-primary-light), var(--background-primary-dark));
}

.theme-menu button[data-theme="light"].active {
  color: var(--text-light);
  background-color: var(--background-primary-light);
}

.theme-menu button[data-theme="dark"].active {
  color: var(--text-dark);
  background-color: var(--background-primary-dark);
}

.theme-menu button[data-theme="persian"].active {
  color: var(--text-persian);
  background-color: var(--background-primary-persian);
}

nav,
li {
  overflow: visible !important;
}

.name-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-size: xx-large;
}
